extends layout

block content

    .container
        .title.row
            h5 About the ISS tracker webapp.
        span
        .about.row
            p
            | This webapp tracks and displays the current position of the <a href="https://en.wikipedia.org/wiki/International_Space_Station" target="_blank">International Space Station</a>.

            p
            | It derives ISS positional information from the <a href="http://open-notify.org/Open-Notify-API/" target="_blank">Open Notify API</a>

