extends layout

block content
      .col-8.map
        include ./body/map.pug
      .col-4.sidebar
        include ./body/sidebar.pug

      script(src="javascripts/issData.js")
      script(src='javascripts/googlemap_api.js')
      script(src="javascripts/sidebar.js")
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + google_api_key + "&callback=initMap")