extends layout

block content
  .container-fluid
    .header-row.row.h-10
      .header
        include ./header/header.pug
    .main.row.h-80
      .col-8.map
        include ./body/map.pug
      .col-4.sidebar
        include ./body/sidebar.pug
    .row.h-10
      .footer-row
        include ./footer/footer.pug