doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery/jquery.js")
  body
    .container-fluid
      .header-row.row.h-10
         .header
          include ./header/header.pug
      .main.row.h-80
        block content
      .row.h-10
        .footer-row
          include ./footer/footer.pug
