.container
    .row
        .col
            <a href="https://en.wikipedia.org/wiki/International_Space_Station" target="_blank">International Space Station</a>
        .col
            <a href="http://open-notify.org/Open-Notify-API/" target="_blank">Open Notify API</a>
        .col
            p @copyright 2018
