div#map-div
script(src='javascripts/iss_position.js')
script(src='javascripts/googlemap_api.js')
script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + google_api_key + "&callback=initMap")