.info
    .container
        .row
            .col-4
                | People In space:
            .col-8.numOfPeople
                | ...
        .row
            .col-4
                | Names:
            .col-8.namesOfPeople
    .currentLocation.container
        .row
            .col-4.location_info
                | My Location:
            .col-8.myCurrentLocation
                | ...
    h6 Fly By Times At My Location
    .fly_by


script(src="javascripts/issData.js")
script(src="javascripts/sidebar.js")




